---
---

@import "{{ site.theme }}";
:root {
    --charcoal: #373737;
    --paper: #F4F4F4;
    
    --gunmetal: #233237;
    
    --aluminium: #D9D9D9;

    --ivoryblack: #1D2731;
    --gold: #D9B310;
    --skyblue: #328CC1;
    --prussianblue: #0B3C5D;

    --a: #222930;
    --b: #4EB1BA;
    --c: #E9E9E9;

    

    // https://github.com/gbale/vscode-theme-darkplusplus/blob/master/vscode/dark_defaults.json
    --vscode-background: #1E1E1E;
    --vscode-foreground: #D4D4D4;
    --vscode-editor-background: #404040;
    --vscode-editor-activebackground: #707070;
    --vscode-logo: #0079CC;

    --dark: var(--vscode-background);
    --mid: var(--vscode-editor-background);
    --light: var(--vscode-foreground);
    --link: var(--vscode-logo);
}
// Layout stuff first (with some embedded styles because I'm lazy)
body {
    display: grid; 
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
    background-color: var(--dark);
    color: var(--light);
}

header {
    grid-area: header;
    padding: 0 0.5em;
    border-bottom: 2px solid var(--light);
    color: var(--light);
    background-color: var(--mid);    
}
footer {
    grid-area: footer;
    padding-top: 1em;
    border-top: 2px solid var(--light);
    color: var(--light);
    background-color: var(--mid); 
}
header h1 {
    font-size: 48px;
    color: var(--light);
    margin: 0;
    border: 0;
}
header h1 a {
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
    color: var(--light);
    border-bottom: 1px solid var(--light);
    border-top: 1px solid var(--light);
    font-weight: 300;
}

nav {
    grid-area: nav;
    margin: 0 2em;
}
nav ul {
    list-style: none;
    padding-inline-start: 0; // undo padding added to general bullets
}
nav > ul > li {
    display: inline-block; // horizontal tabs
    position: relative;
}
nav li ul {
    display: none; // hide second level tabs until parent active/ hover
    position: absolute;
    top: 1.5em;
    left: 0;
    z-index: 50;
    background-color: var(--dark);
    transition-duration: 0.5s;
    transition: all 0.5s ease; /* revisit https://css-tricks.com/solved-with-css-dropdown-menus/ */
    border-bottom: 1px solid var(--link);
}
nav li li {
    border-top: 1px solid var(--link);
}
nav li:hover ul {
    display: block; // display only when parent is active/ hover
}
nav li span {
    padding: 0.25em;
}
nav li a {
    color: inherit;
    padding: 0.25em;
}
nav li a:hover {
    text-decoration: none;
}

article {
    grid-area: content;
    align-self: center;
    display: flex;
    align-items: center;
    padding: 2em 0;
    background-color: black;
}
section {
    width: 90%;
    margin: auto;
    background-color: var(--dark);
    padding: 1em;
}
@media (min-width: 700px) {
    section, nav {
        width: 70%;
    }
}
@media (min-width: 900px) {
    section, nav {
        width: 50%;
    }
}
a {
    color: var(--link);
}





// Font Awesome padding, use these icons in moderation
i.fas {
    padding: 0 0.5rem;
}

// Standard markdown lists, get the indents right
ul, ol {
    display: block;
    list-style-type: disc;
    padding-inline-start: 2em;
}
li {
    display: list-item;
    text-align: match-parent;
}

// General table styles
table {
    margin: 2em 0;
}
th, td {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--light);
    padding: 0.5em;
}

// paragraphs
p {
    margin: 0.5em 0;
}

// Syntax highlighting
.highlight {
    background-color: black;
}
.highlight .kd {
    color: tomato;
}