<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
  <header>
    <h1><a href="/"><i class="fas fa-home"></i></a>{{site.title}}</h1>
    <p>{{site.description}}</p>
  </header>
  <nav>
    <!-- Home {% unless page.title == "Index" %} > {{page.title}} {% endunless %} -->
    <ul>
      {% for parent in site.data.toc %}
      <li>
        <span><a href="{{parent.path}}">{{parent.label}}</a></span>
        <ul>
          {% for child in parent.children %}
          <li>
            <a href="{{child.path}}">{{child.label}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

  </nav>
  <article>
    <section>
      <h1>{{page.title}}</h1>
      {{ content }}
    </section>
  </article>
  <footer>
    <p class="last-update"><i class="fas fa-calendar-alt"></i>page last updated: {{page.last-updated}}</p>
  </footer>
</body>

</html>